---
layout: page
title: Caroline Wilson
description: Meet Caroline Wilson. Hertfordshire born, now an East London local, meet Caroline from team Status Row.
permalink: /caroline-wilson/
---

    <!-- Slider Start -->
<section class="Hero__Global">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Caroline Wilson</h1>
      </div>
      <div class="col-md-5">
        <div class="avater-container">
          <img src="{{ site.baseurl }}/assets/images/team/caroline.png" alt="Caroline Wilson from team Status Row" class="Image--circle"/>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Content Start -->
<br/>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>Caroline is a website developer living in Hackney, East London and known amoungst her friends for her love of sleeping for 10 hours at a time (an ideal skill for a crew that will be rowing 24 hours a day and sleeping for no more than 1.5 hours at a time). When she's not sleeping, you'll find her attached to her computer, or out running, cycling, climbing or hiking across some form of land mass.</p>
      <p>An amateur in every sense of the word, Caroline hadn't sat on a rowing machine before deciding to take on this challenge. Growing up in the small village of Kimpton, nestled in the Hertfordshire countryside, she was always spending time outdoors, but it wasn't until she returned to the UK after an extended gap year post-University and an unexpected TM diagnosis, that Caroline got back into sport.</p>

      <a class="btn btn-primary btn-lg" href="{{ site.baseurl }}/2017/09/15/why-row-atlantic-caroline.html">Here's why I'm rowing the Atlantic</a>
    </div>
  </div>


  <br />
  <div class="row">
    <div class="col-xs-12">
      <h3>Updates from Caroline</h3>
        <div class="Post__Grid">
        {% for post in site.posts %}
          {% if post.author == "Caroline Wilson" %}
            <div class="Post__Grid--card">
              <a href="{{ post.url | prepend: site.baseurl }}" class="bold"><h3>{{ post.title }}</h3></a>
              <p>{{ post.subtitle }}</p>
              <p class="post-date">{{ post.date | date_to_string }}</p>
              <p>
                {{ post.content | strip_html | truncatewords: 20 }}
              </p>
              <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-secondary btn-lg">Read more</a>
            </div>
            {% endif %}
          {% endfor %}
        </div>
    </div>
  </div>
</div>
