---
layout: page
title: Jess Rego
description: Meet Jess Rego.
permalink: /jess-rego/
---

    <!-- Slider Start -->
<section class="Hero__Global">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Jess Rego</h1>
      </div>
      <div class="col-md-5">
        <div class="avater-container">
          <img src="{{ site.baseurl }}/assets/images/team/jess.jpg" alt="Jess from team Status Row" class="Image--circle"/>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Content Start -->
<br/>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>Jess has broken more bones than she can count but still thinks that rowing an ocean is a great idea. A lover of all animals (even the naked molerat) and plants (even you, cactus) she is deeply committed to saving them and making this home we call Earth better for everyone.</p>
      <a class="btn btn-primary btn-lg" href="{{ site.baseurl }}/2017/09/08/why-rowing-atlantic-jess.html">Here's why I'm rowing the Atlantic</a>
    </div>
  </div>

  <br />
  <div class="row">
    <div class="col-xs-12">
      <h2>Updates from Jess</h2>
        <div class="Post__Grid">
        {% for post in site.posts %}
          {% if post.author == "Jess Rego" %}
              <div class="Post__Grid--card">
                <a href="{{ post.url | prepend: site.baseurl }}" class="bold"><h3>{{ post.title }}</h3></a>
                <p>{{ post.subtitle }}</p>
                <p class="post-date">{{ post.date | date_to_string }}</p>
                <p>
                  {{ post.content | strip_html | truncatewords: 20 }}
                </p>
                <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-secondary btn-lg">Read more</a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
    </div>
  </div>
</div>
