---
layout: page
title: Susan Ronaldson
description: Meet Susan Ronaldson.
permalink: /susan-ronaldson/
---

    <!-- Slider Start -->
<section class="Hero__Global">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Susan Ronaldson</h1>
      </div>
      <div class="col-md-5">
        <div class="avater-container">
          <img src="{{ site.baseurl }}/assets/images/team/susan.png" alt="Susan Ronaldson from team Status Row" class="Image--circle"/>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Content Start -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>Always one for a good argument, Suze realised too late the Atlantic Rowing Challenge wasn’t a debating competition on the Queen Mary. Nevertheless, she loves a challenge; as long as it doesn’t involve exercise, confined spaces and the use of a bucket. Brought up in a nautical family, she feels drawn to the sea and passionately believes in preserving our beautiful blue planet.</p>
      <blockquote>"Unless someone like you cares an awful lot, nothing is going to get better, it’s not" - Dr Suess</blockquote>
      <a class="btn btn-primary btn-lg" href="{{ site.baseurl }}/2017/09/22/why-row-atlantic-suze.html">Here's why I'm rowing the Atlantic</a>
    </div>
  </div>

  <br />
  <div class="row">
    <div class="col-xs-12">
      <h2>Updates from Susan</h2>
        <div class="Post__Grid">
        {% for post in site.posts %}
          {% if post.author == "Susan Ronaldson" %}
              <div class="Post__Grid--card">
                <a href="{{ post.url | prepend: site.baseurl }}" class="bold"><h3>{{ post.title }}</h3></a>
                <p>{{ post.subtitle }}</p>
                <p class="post-date">{{ post.date | date_to_string }}</p>
                <p>
                  {{ post.content | strip_html | truncatewords: 20 }}
                </p>
                <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-secondary btn-lg">Read more</a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
    </div>
  </div>
</div>
