<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <div class="row">
            <ul class="social-icons">
              <li>
                <a href="https://www.facebook.com/statusrow/" target="_blank"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="https://www.instagram.com/statusrow/" target="_blank"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/StatusRow" target="_blank"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="mailto:hello@statusrow.com"><i class="fa fa-envelope-o"></i></a>
              </li>
            </ul>
          </div>
          <!-- <div class="row">
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
              <li><a href="#">How it works</a></li>
              <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
              <li><a href="#">Terms</a></li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</footer>
