<!-- footer Start -->


<!-- Call to action Start -->
<section class="Footer">
  <div class="Footer__Social">
    <div class="row">
      <div class="col-md-12">
        <ul class="Social-icons">
          <li>
            <a href="https://www.facebook.com/statusrow/" target="_blank"><i class="fa fa-2x fa-facebook"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/statusrow/" target="_blank"><i class="fa fa-2x fa-instagram"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/StatusRow" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
          </li>
          <li>
            <a href="mailto:hello@statusrow.com"><i class="fa fa-2x fa-envelope-o"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" class="privacy">
        <a href="/privacy">Privacy policy</a>
      </div>
    </div>
  </section>
