---
layout: page
---

<section class="Blog__Post--hero">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ page.title }}</h1>
      <h2>{{ page.subtitle }}</h2>
      <p class="italic">By <span class="bold">{{ page.author }}</span> on <span class="bold">{{ page.date | date: "%B %-d, %Y" }}</span></p>
    </div>

    <div class="col-xs-12">
      <div class="sharethis-inline-share-buttons"></div>
    </div>
  </div>
</section>


<div class="Blog__Post--container">
  <section class="Blog__Post--content">
    <p>{{ content }}</p>
  </section>

  <div class="Blog__Post_related">
    <h3>More from {{ page.author }}</h3>
    <div class="Post__Grid">
    {% for post in site.posts %}
      {% if post.author == page.author %}
        <div class="Blog__Post_related--card">
          <a href="{{ post.url | prepend: site.baseurl }}" class="bold"><h3>{{ post.title }}</h3></a>
          <p>{{ post.subtitle }}</p>
          <p class="post-date">{{ post.date | date_to_string }}</p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-secondary">Read more</a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>

<p class="text-center" style="padding: 30px;">
  <a href="{{ site.baseurl }}/blog">Back to blog</a>
</p>
