/* header */
header nav.navbar {
  margin-bottom: 0;
}
header nav.navbar.navbar-default {
  background-color: var(--white);
  border: none;
}
header nav.navbar.navbar-default .navbar-header {
  height: 100px;
  position: relative;
}
header nav.navbar.navbar-default .navbar-header .navbar-toggle {
  position: absolute;
  right: 0;
}
header nav.navbar.navbar-default .navbar-header button {
  margin-top: 35px;
  margin-right: 35px;
}
header nav.navbar.navbar-default .navbar-header a img{
  max-width: 200px;
}
.navbar-default .navbar-nav>li>a.btn {
  color: var(--white);
}
.navbar-default .navbar-nav>li>a.btn:active,
.navbar-default .navbar-nav>li>a.btn:focus,
.navbar-default .navbar-nav>li>a.btn:hover {
  color: var(--blue--dark);
}
.navbar-default .navbar-nav>li,
.navbar-default .navbar-nav>li>a.btn {
  font-size: 12px;
}
@media only screen and (min-width: 768px) and (max-width: 813px) {
  header nav.navbar.navbar-default .navbar-header a img {
    max-width: 100px;
    margin-top: 20px;
  }
  .nav>li>a {
    padding: 10px;
  }
}

@media only screen and (min-width: 814px) and (max-width: 943px) {
  header nav.navbar.navbar-default .navbar-header a img {
    max-width: 150px;
    margin-top: 10px;
  }
  .nav>li>a {
    padding: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-right {
    margin-top: 35px;
  }
}

/* Footer  */
.Footer h2  {
  margin-top: 0;
}
.Footer__Support {
  background-color: var(--yellow);
  text-align: center;
  padding: 30px;
}
.Footer__Social {
  background-color: var(--blue--dark);
}

@media only screen and (min-width: 768px) {
  .Footer__Support {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.privacy {
  text-align: center;
  color: #fff;
}
/* Social icons list */
ul.Social-icons {
  text-align: center;
}
ul.Social-icons > li {
  display: inline-block;
  margin: 25px;
}

#Hero__Challenge {
  background: url(../../assets/images/beach_rubbish.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
#Hero__Challenge .Homepage__Content--copy {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px;
  border-radius: 3px;
  margin: 60px 0;
}

/* Hero - global */
.Hero__Global {
  /* background: url(../../assets/images/Talisker_Whisky_Atlantic_Challenge_Status_Row_Plastic_Pollution_2.jpg); */
  background-size: cover;
  background-position: 70% bottom;
  min-height: 60vh;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .Hero__Global {
    background-position: center;
  }
}

/* Partners */
.Partner__Level--product .tomOliver img {
  background-color: #3DAEF5;
  padding: 20px;
}
.Partners img {
  max-width: 100%;
}
.PartnersGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.Partner__Level--bronze {
  margin-bottom: 30px;
}

.Partner__Level--bronze .Partner--content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 2px 6px 0 #d7d7d7;
  width: 100%;
  margin: 10px 0;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .PartnersGrid {
    justify-content: space-between;
  }
  .Partner__Level--bronze .Partner--content {
    width: 32%;
    margin-right: 10px;
  }
}
.Partner__Level--bronze .Partner--content:hover {
  box-shadow: 0 2px 6px 0 #9d9d9d;
}
.Partner__Level--bronze .Partner--content {
  display: flex;
  flex-direction: column;
  padding: 5px;
  min-height: 300px;
}
.Partner__Level--bronze img {
  max-width: 220px;
  max-height: 160px;
}

.Partner__Level--bronze .Partner--bio p {
  font-size: 16px;
  margin-bottom: 0;
  padding: 15px;
}

.Partner__Level--product img {
  max-width: 150px;
  max-height: 100px;
  margin: 20px 50px;
}

.Partner__Level--gold {
  margin: 30px auto;
}
.Partner__Level--gold .Partner--logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px 30px;
}
.Partner__Level--gold a.PartnerTile {
  box-shadow: 0 2px 6px 0 #d7d7d7;
  padding: 25px;
}
.Partner__Level--gold .Partner--content p {
  font-size: 16px;
}
.Partner__Level--gold img {
  max-width: 100%;
  margin: 20px auto;
}
@media only screen and (min-width: 768px) {
  .Partner__Level--product img {
    max-width: 200px;
    margin: 50px;
  }
  .Partner__Level--gold .PartnerTile {
    width: 80%;
    padding: 10px;
  }
  .Partner__Level--gold a.PartnerTile:hover {
    box-shadow: 0 2px 6px 0 #9d9d9d;
  }
}

.Partner__Level--silver {
  margin: 30px auto;
}
.Partner__Level--silver .Partner--logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Partner__Level--silver a.PartnerTile {
  box-shadow: 0 2px 6px 0 #d7d7d7;
  padding: 15px;
  margin-top: 15px;
}
.Partner__Level--silver .Partner--content p {
  font-size: 16px;
}
.Partner__Level--silver img {
  max-width: 100%;
  margin: 20px auto;
}
@media only screen and (min-width: 768px) {
  .Partner__Level--product img {
    max-width: 200px;
  }
  .Partner__Level--silver .PartnerTile {
    width: 49%;
    padding: 10px;
  }
  .Partner__Level--silver a.PartnerTile:hover {
    box-shadow: 0 2px 6px 0 #9d9d9d;
  }
}
 /* Exposure */
 .Exposure {
   text-align: center;
   margin: 30px auto;
   background-color: var(--blue--shadow);
   padding: 30px 0;
 }

.Press {
  text-align: center;
  padding-bottom: 60px;
}
.Press h2 {
  margin-bottom: 30px;
}
.Press__grid {
  display: flex;
  justify-content: space-between;
  vertical-align: baseline;
  flex-wrap: wrap;
}
.Press__article {
  border: 1px solid lightgrey;
  padding: 20px;
  width: 300px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Press__article__header {
  height: 80px;
}
.Press__article__header img {
  max-width: 100%;
  max-height: 60px;
}
.Press__article__footer {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.Press__article .btn {
  width: 100%;
  align-self: flex-end;
}

.video {
  text-align: center;
}
.video iframe {
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
.video iframe {
  width: 560px;
  height: 315px;
  }
}

.youtube-video iframe {
  width: 100%;
  min-height: 180px;
}
@media only screen and (min-width: 768px) {
  .youtube-video iframe {
    width: 560px;
    height: 315px;
    }
}

 /* Support */
.Support__Content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.Support__DonationsGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.Support__DonationsGrid .Support__Logo p {
  width: 100%;
}
.Support__DonationsGrid .Support__Logo {
  width: 100%;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}
.Support__DonationsGrid .Support__Logo form {
  align-self: flex-end;
}

@media only screen and (min-width: 768px) {
  .Support__Content {
    flex-wrap: nowrap;
  }

  .Support__DonationsGrid .Support__Logo {
    width: 50%;
  }
  .Support__DonationsGrid .Support__Logo {
    padding-left: 0;
  }
}

iframe.tracker {
  width: 100%;
  min-height: 550px;
}
